html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'BlinkMacSystemFont', -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 15px 30px;
  background: #f0efe9;
  color: #333;
}
